/* por fim, o codigo da estrutura basica abaixo sem comentarios */
h1{
    font-size: 100px;
}

#par1{
    font-size: 20px;
}

 .claspar{
     font-size: 10px;
}

/* verifique se o arquivo esta ligado ao conteudo desejado
   Nesse exemplo, o arquivo utilizado e um arquivo html 
   entao verifique se no html esta fazendo ligacao com o "css externo"
   ou melhor, o css que vem de fora 
   que no caso e esse arquivo com o codigo */

/*
  verifique tambem o css interno e inline no arquivo de exemplo
  que no caso e o index.html
*/